.badge {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  margin-left: 0.25em;
  color: #444;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  cursor: pointer;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}
